td {
    height: 60px;
    width: 60px;
    border-radius: 0px;
    border: 1px solid #3EB5E8;
    padding: 0px;
    text-align: center;
}

table {
    border-spacing: 0px;
    width: auto;
    margin: auto;
}


.black-cell {
 background-color: #b3e5fc;
}

.while-cell {
}

.selected {
  background-color: #ffcdd2;
}
